.cart-icon{
	width: 21px;
	margin-right: -7px;
}


.quantity-input__modifier {
	padding: 0.7rem;
	width: 3rem;
	font-size: 1.5rem;
	background: #f3f3f3;
	color: #888;
	border: 0 solid #dbdbdb;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
	cursor: pointer;
}

.quantity-input__screen {
	width: 4rem;
	padding: 0.7rem;
	font-size: 1.5rem;
	border: 0;
	border-top: 0 solid #dbdbdb;
	border-bottom: 0 solid #dbdbdb;
	text-align: center;
}
